<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.admin.mapper.AttributeExtMapper">



    <select id="selectAttributeCountExistByCreate" resultType="Short">
        select id from attribute
        where attr_name =  #{attribute.attrName,jdbcType=VARCHAR}
        and  specifications = #{attribute.specifications,jdbcType=VARCHAR}
        and  material = #{attribute.material,jdbcType=VARCHAR}
        and  parent_id =
        (
        select
        id
        from attribute
        where attr_name = #{pingZhong,jdbcType=VARCHAR} and parent_id = 0
        )
    </select>

    <select id="selectIdByAttrName" resultType="Short">
        select id from attribute
        where attr_name =  #{pingZhong,jdbcType=VARCHAR}
        and parent_id = 0

    </select>


    <select id="selectPingZhongAll" resultType="String">
        select attr_name from attribute
        where parent_id = 0
    </select>


    <select id="ListByPingZhong" resultMap="com.zc.shop.mbg.mapper.AttributeMapper.BaseResultMap">
        select
        <include refid="com.zc.shop.mbg.mapper.AttributeMapper.Base_Column_List" />
         from attribute
        where parent_id =
         (
        select
        id
        from attribute
        where attr_name = #{pingZhong,jdbcType=VARCHAR} and parent_id = 0
        )
    </select>













</mapper>