<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.admin.mapper.GoodsExtMapper">


    <update id="updateGoodsNum">
      update goods
      set
      goods_number = #{num,jdbcType=SMALLINT}
      where id = #{goodId,jdbcType=INTEGER}
      and  is_on_sale = 1

    </update>

    <update id="updateGoodsNumPlus">
      update goods
      set
      goods_number = goods_number + #{num,jdbcType=SMALLINT}
      where id = #{goodId,jdbcType=INTEGER}
      and  is_on_sale = 1

    </update>
    <select id="selectGoodsBuSupplierId" resultMap="com.zc.shop.mbg.mapper.GoodsMapper.BaseResultMap">
        select
        <include refid="com.zc.shop.mbg.mapper.GoodsMapper.Base_Column_List" />
        from goods
        where suppliers_id = #{supplierId,jdbcType=SMALLINT}

    </select>


</mapper>