<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.admin.mapper.SettlementExtMapper">
    <update id="updateWeightAndNum">

      update settlement
      set
      weight = weight + #{shiTiWeight,jdbcType=DECIMAL},
      num = num + #{shiTiNum,jdbcType = INTEGER},
      created_at =  #{now,jdbcType = TIMESTAMP},
      price_all = weight * weight_price
      where order_id = #{orderId,jdbcType=BIGINT}



    </update>


    <select id="selectByOrderCode" parameterType="java.lang.String" resultMap="com.zc.shop.mbg.mapper.SettlementMapper.BaseResultMap">
        select
        <include refid="com.zc.shop.mbg.mapper.SettlementMapper.Base_Column_List" />

        from settlement
        where order_code = #{orderCode,jdbcType=VARCHAR}
    </select>
</mapper>