<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.admin.mapper.StatementsExtMapper">
    <update id="updateWeightAndNum">

    update statements
      set
      land_number = #{sumNum,jdbcType=INTEGER},
      land_weight = #{weightSum,jdbcType = DECIMAL},
      money = #{priceSum,jdbcType = DECIMAL}
      where order_code = #{orderCode,jdbcType=VARCHAR}


    </update>


    <select id="selectByOrderCode" parameterType="java.lang.String" resultMap="com.zc.shop.mbg.mapper.StatementsMapper.BaseResultMap">
        select
        <include refid="com.zc.shop.mbg.mapper.StatementsMapper.Base_Column_List" />

        from statements
        where order_code = #{orderCode,jdbcType=VARCHAR}
    </select>
</mapper>