<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.mbg.mapper.LadingMapper">
  <resultMap id="BaseResultMap" type="com.zc.shop.mbg.po.Lading">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="ladinged_at" jdbcType="TIMESTAMP" property="ladingedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="guohu" jdbcType="VARCHAR" property="guohu" />
    <result column="real_num" jdbcType="INTEGER" property="realNum" />
    <result column="real_weight" jdbcType="DECIMAL" property="realWeight" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zc.shop.mbg.po.Lading">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="information" jdbcType="LONGVARCHAR" property="information" />
    <result column="shouquanshu" jdbcType="LONGVARCHAR" property="shouquanshu" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, order_code, supplier_id, goods_id, weight, `status`, pic, ladinged_at, 
    created_at, updated_at, order_id, `type`, guohu, real_num, real_weight, num
  </sql>
  <sql id="Blob_Column_List">
    remark, information, shouquanshu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `lading`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `lading`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zc.shop.mbg.po.Lading">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `lading` (code, order_code, supplier_id, 
      goods_id, weight, `status`, 
      pic, ladinged_at, created_at, 
      updated_at, order_id, `type`, 
      guohu, real_num, real_weight, 
      num, remark, information, 
      shouquanshu)
    values (#{code,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{pic,jdbcType=VARCHAR}, #{ladingedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{orderId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{guohu,jdbcType=VARCHAR}, #{realNum,jdbcType=INTEGER}, #{realWeight,jdbcType=DECIMAL}, 
      #{num,jdbcType=INTEGER}, #{remark,jdbcType=LONGVARCHAR}, #{information,jdbcType=LONGVARCHAR}, 
      #{shouquanshu,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zc.shop.mbg.po.Lading">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `lading`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="ladingedAt != null">
        ladinged_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="guohu != null">
        guohu,
      </if>
      <if test="realNum != null">
        real_num,
      </if>
      <if test="realWeight != null">
        real_weight,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="information != null">
        information,
      </if>
      <if test="shouquanshu != null">
        shouquanshu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="ladingedAt != null">
        #{ladingedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="guohu != null">
        #{guohu,jdbcType=VARCHAR},
      </if>
      <if test="realNum != null">
        #{realNum,jdbcType=INTEGER},
      </if>
      <if test="realWeight != null">
        #{realWeight,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=LONGVARCHAR},
      </if>
      <if test="shouquanshu != null">
        #{shouquanshu,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zc.shop.mbg.po.Lading">
    update `lading`
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="ladingedAt != null">
        ladinged_at = #{ladingedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="guohu != null">
        guohu = #{guohu,jdbcType=VARCHAR},
      </if>
      <if test="realNum != null">
        real_num = #{realNum,jdbcType=INTEGER},
      </if>
      <if test="realWeight != null">
        real_weight = #{realWeight,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="information != null">
        information = #{information,jdbcType=LONGVARCHAR},
      </if>
      <if test="shouquanshu != null">
        shouquanshu = #{shouquanshu,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zc.shop.mbg.po.Lading">
    update `lading`
    set code = #{code,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      ladinged_at = #{ladingedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      guohu = #{guohu,jdbcType=VARCHAR},
      real_num = #{realNum,jdbcType=INTEGER},
      real_weight = #{realWeight,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR},
      information = #{information,jdbcType=LONGVARCHAR},
      shouquanshu = #{shouquanshu,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zc.shop.mbg.po.Lading">
    update `lading`
    set code = #{code,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      `status` = #{status,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      ladinged_at = #{ladingedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      guohu = #{guohu,jdbcType=VARCHAR},
      real_num = #{realNum,jdbcType=INTEGER},
      real_weight = #{realWeight,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>