<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.shop.mbg.mapper.SettlementMapper">
  <resultMap id="BaseResultMap" type="com.zc.shop.mbg.po.Settlement">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="price_all" jdbcType="DECIMAL" property="priceAll" />
    <result column="weight_price" jdbcType="DECIMAL" property="weightPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, goods_id, weight, price, created_at, updated_at, order_code, num, price_all, 
    weight_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `settlement`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `settlement`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zc.shop.mbg.po.Settlement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `settlement` (order_id, goods_id, weight, 
      price, created_at, updated_at, 
      order_code, num, price_all, 
      weight_price)
    values (#{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{orderCode,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{priceAll,jdbcType=DECIMAL}, 
      #{weightPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zc.shop.mbg.po.Settlement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `settlement`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="priceAll != null">
        price_all,
      </if>
      <if test="weightPrice != null">
        weight_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="priceAll != null">
        #{priceAll,jdbcType=DECIMAL},
      </if>
      <if test="weightPrice != null">
        #{weightPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zc.shop.mbg.po.Settlement">
    update `settlement`
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="priceAll != null">
        price_all = #{priceAll,jdbcType=DECIMAL},
      </if>
      <if test="weightPrice != null">
        weight_price = #{weightPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zc.shop.mbg.po.Settlement">
    update `settlement`
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      order_code = #{orderCode,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      price_all = #{priceAll,jdbcType=DECIMAL},
      weight_price = #{weightPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>